*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family:'Poppins', sans-serif;
  /* background:#f7f7f7; */
  overflow-x:hidden;
}
.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

/* ================= ABOUT SECTION ================= */

.about-section{
  padding:170px 0 30px;
}

.about-container{
  display:grid;
  grid-template-columns:1.1fr 1fr;
  align-items:center;
    gap:80px;
}

/* LEFT */

.small-title{
  color:#ef5350;
  font-size:18px;
  font-weight:700;
  letter-spacing:1px;
  display:block;
  margin-bottom:22px;
}

.about-left h1{
  font-size:44px;
  line-height:1.1;
  color:#070b1f;
  font-weight:800;
  margin-bottom:30px;
}

.about-left h4{
  font-size:20px;
  color:#111;
  font-weight:500;
  margin-bottom:20px;
  line-height:1.6;
}

.about-left p{
  color:#5a5c5e;
  font-size:18px;
  line-height:2;
  margin-bottom:35px;
}
/* RIGHT */
/* 
.about-image{
  position:relative;
}
.about-image img{
  width:90%;

  border-radius:20px;

  object-fit:cover;

  box-shadow:0 10px 40px rgba(0,0,0,0.08);
} */

/* ================= CARDS ================= */

.about-cards-section{
  padding-bottom:10px;
}
.cards-container{
  display:grid;
  grid-template-columns:repeat(3,1fr);
}

.about-card{
  background:#f1f1f1;
  padding:50px 45px;
  min-height:400px;
  transition:0.4s;
}
/* ACTIVE CARD */

.active-card{

  background:#fff;

  box-shadow:0 10px 35px rgba(0,0,0,0.06);
}
.about-card:hover{

  background:#fff;

  transform:translateY(-8px);

  box-shadow:0 10px 35px rgba(0,0,0,0.06);
}

.about-card span{

  color:#ef5350;

  font-size:18px;

  font-weight:700;

  letter-spacing:1px;

  display:block;

  margin-bottom:24px;
}

.about-card h2{

  font-size:26px;

  line-height:1.4;

  color:#070b1f;

  margin-bottom:30px;

  font-weight:700;
}

.about-card p{

  font-size:18px;

  line-height:1.9;

  color:#7a8798;
}

/* ================= RESPONSIVE ================= */

@media(max-width:1200px){

  .about-left h1{

    font-size:60px;
  }

  .about-left p{

    font-size:19px;
  }

}

@media(max-width:992px){

  .about-container{

    grid-template-columns:1fr;

    gap:60px;
  }

  .cards-container{

    grid-template-columns:1fr;
  }

  .about-left h1{

    font-size:52px;
  }

}

@media(max-width:768px){

  .about-section{

    padding:140px 0 90px;
  }

  .about-left h1{

    font-size:42px;
  }

  .about-left h4{

    font-size:24px;
  }

  .about-left p{

    font-size:17px;

    line-height:1.9;
  }

  .about-card{

    padding:50px 30px;

    min-height:auto;
  }

  .about-card h2{

    font-size:28px;
  }

  .about-card p{

    font-size:17px;
  }

}

@media(max-width:576px){

  .about-left h1{

    font-size:36px;
  }

  .small-title{

    font-size:15px;
  }

  .about-left h4{

    font-size:20px;
  }

}