<footer class="footer">
  <div class="container footer-container">
    <!-- LEFT -->
    <div class="footer-box">
      <div class="footer-logo-wrap">
        <img src="images/logo.png" alt="logo" class="footer-logo" />

      </div>

      <p class="footer-desc">
        We’re on a mission to build a better future where technology creates
        good jobs for everyone.
      </p>
    </div>

    <!-- LINKS -->
    <div class="footer-box">
      <h3>Important Links</h3>

      <ul class="footer-links">
        <li><a href="index.html">Home</a></li>

        <li><a href="about.html">About Us</a></li>

        <li><a href="services.html">Services</a></li>

        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>

    <!-- CONTACT -->
    <div class="footer-box">
      <h3>Contact Info</h3>

      <p class="footer-contact">Plot no 22, Road No 3 Dwaraka Nagar, Gajularamaram, Hyderabad, Telangana 500055.</p>

      <a href="tel:+919999999999" class="footer-phone"><strong>phone:</strong>  +91 94931 87178 </a>

      <p class="footer-mail">Email: foryourservice247@gmail.com</p>
    </div>
  </div>

  <!-- BOTTOM -->
  <div class="footer-bottom">
    <p>Terms & Conditions</p>
     <p> Privacy Policy</p>
    <p>foryourservice247-2024</p>
  </div>

  <!-- WHATSAPP -->
  <a href="https://wa.me/919999999999" target="_blank" class="footer-whatsapp">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
</footer>
