<header class="header">

  <div class="container nav-container">

    <!-- LOGO -->
    <div class="logo-section">

      <a href="index.html" class="logo">
        <img src="images/logo.png" alt="logo">
      </a>

    </div>

    <!-- NAVBAR -->
    <nav class="navbar" id="navbar">

      <div class="close-menu" id="closeMenu">
        <i class="fa-solid fa-xmark"></i>
      </div>

      <ul class="nav-links">

        <li>
          <a href="index.html">Home</a>
          <!-- <a href="index.html" class="active">Home</a> -->
        </li>

        <li>
          <a href="about.html">About Us</a>
        </li>

        <li>
          <a href="services.html">Services</a>
        </li>

        <li>
          <a href="contact.html">Contact Us</a>
        </li>

      </ul>

    </nav>

    <!-- MOBILE ICON -->
    <div class="menu-toggle" id="menuToggle">
      <i class="fa-solid fa-bars"></i>
    </div>

  </div>

  <!-- OVERLAY -->
  <div class="overlay" id="overlay"></div>

</header>